{% extends "web/base.html" %}
{% load static %}

{% block content %}


        <!-- Main Sllider Start -->
        <section class="main-slider-three">
            <div class="main-slider__carousel owl-carousel owl-theme thm-owl__carousel"
                data-owl-options='{"loop": false, "items": 1, "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"], "margin": 0, "dots": true, "nav": true, "animateOut": "slideOutDown", "animateIn": "fadeIn", "active": true, "smartSpeed": 1000, "autoplay": false, "autoplayTimeout": 7000, "autoplayHoverPause": false}'>
                {% for b in baner %}
                <div class="item main-slider-three__slide-1">
                    <div class="main-slider-three__bg"
                        style="background-image: url({{b.background_image.url}});">
                    </div><!-- /.slider-one__bg -->
                    <div class="container">
                        <div class="main-slider-three__content">
                            <p class="main-slider-three__sub-title">{{b.sub_title}}</p>
                            <h2 class="main-slider-three__title">{{b.title}} <br>
                                </h2>
                            <div class="main-slider-three__btn-box">
                                <a href="{% url "contact" %}" class="main-slider-three__btn-one thm-btn">Book Appointment</a>
                                <a href="#" class="main-slider-three__btn-two thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!--Main Sllider Start -->

        <!--Feature Two Start-->
        <section class="feature-two">
            <div class="feature-two__shape-3 float-bob-y">
                <img src="{% static 'web/images/shapes/feature-two-shape-3.png'%}" alt="">
            </div>
            <div class="feature-two__wrap">
                <div class="container">
                    <div class="row">
                        <!--Feature Two Single Start-->
                        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                            <div class="feature-two__single">
                                <div class="feature-two__single-inner">
                                    <div class="feature-two__shape-1">
                                        <div class="feature-two__shape-2">
                                            <div class="feature-two__icon">
                                                <span class="icon-passport"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feature-two__content-box">
                                        <h3 class="feature-two__title"><a href="#">Trusted Expertise</a></h3>
                                        <p class="feature-two__sub-title"> Your Reliable Partner for Success</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Feature Two Single End-->
                        <!--Feature Two Single Start-->
                        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                            <div class="feature-two__single">
                                <div class="feature-two__single-inner">
                                    <div class="feature-two__shape-1">
                                        <div class="feature-two__shape-2">
                                            <div class="feature-two__icon">
                                                <span class="icon-application"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feature-two__content-box">
                                        
                                        <h3 class="feature-two__title"><a href="#">Seamless Solutions</a></h3>
                                        <p class="feature-two__sub-title">Simplifying Your Journey <br> to Success</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Feature Two Single End-->
                        <!--Feature Two Single Start-->
                        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                            <div class="feature-two__single">
                                <div class="feature-two__single-inner">
                                    <div class="feature-two__shape-1">
                                        <div class="feature-two__shape-2">
                                            <div class="feature-two__icon">
                                                <span class="icon-exchange"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feature-two__content-box">
                                        <h3 class="feature-two__title"><a href="#">Your Success Partner</a></h3>
                                        <p class="feature-two__sub-title">Dependable Solutions, Every Time</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Feature Two Single End-->
                    </div>
                </div>
            </div>
        </section>
        <!--Feature Two Start -->

        <!--About Three Start-->
        <section class="about-three">
            <div class="about-thre__shape-1 img-bounce">
                <img src="{% static 'web/images/shapes/about-three-shape-1.png'%}" alt="">
            </div>
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-title__tagline-box">
                        <span class="section-title__tagline">About Our Company ~</span>
                        <div class="section-title__border-box"></div>
                    </div>
                    <h2 class="section-title__title">Discover Servigens: Your Partner for Success in the UAE Market</h2>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-three__left">
                            <div class="about-three__img-box">
                                <div class="about-three__img">
                                    <img src="{% static 'web/images/resources/about-three-img-1.jpg'%}" alt="">
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-three__right">
                            
                            <p class="about-three__text-1">Servigens is your one-stop destination for comprehensive corporate services tailored to the unique needs of businesses and individuals in the dynamic landscape of the United Arab Emirates. With a relentless commitment to excellence and guided by seasoned consultants, we offer a wide array of services designed to streamline your operations, ensure compliance, and drive growth.</p>
                            
                            <ul class="list-unstyled about-three__points">
                                <li>
                                    <div class="icon">
                                        <span class="icon-check"></span>
                                    </div>
                                    <div class="text">
                                        <p>Expert Guidance and Support</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-check"></span>
                                    </div>
                                    <div class="text">
                                        <p>Tailored Solutions for Every Need</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-check"></span>
                                    </div>
                                    <div class="text">
                                        <p> Comprehensive Range of Services</p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="about-three__btn thm-btn">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Three End-->

        <!--Services Three Start-->
        
        <!--Services Three End-->
        <section class="coaching-three">
            <div class="coaching-three__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                style="background-image: url({% static 'web/images/backgrounds/coaching-three-bg.jpg'%});"></div>
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-title__tagline-box">
                        <span class="section-title__tagline">Services</span>
                        <div class="section-title__border-box"></div>
                    </div>
                    <h2 class="section-title__title">Explore Our Services</h2>
                </div>
                <div class="coaching-three__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                    "loop": true,
                    "autoplay": true,
                    "margin": 30,
                    "nav": true,
                    "dots": false,
                    "smartSpeed": 500,
                    "autoplayTimeout": 10000,
                    "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive": {
                        "0": {
                            "items": 1
                        },
                        "768": {
                            "items": 2
                        },
                        "992": {
                            "items": 3
                        },
                        "1200": {
                            "items": 3
                        }
                    }
                }'>
                    <!--Coaching Three Single Start-->
                    {% for item in services %}
                    <div class="item">
                        <div class="coaching-three__single">
                            <div class="coaching-three__img">
                                <a href="{% url "service_detail" item.slug %}">
                                <img class="service-img-custom" src="{{item.image.url}}" alt="">
                            </a>
                            </div>
                            <div class="coaching-three__content">
                                <div class="coaching-three__title-box">
                                    <h3 class="coaching-three__title"><a href="{% url "service_detail" item.slug %}">{{item.title}}</a>
                                    </h3>
                                </div>
                                <p class="coaching-three__text">{{item.description|truncatechars:70}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--Coaching Three Single End-->
                    <!--Coaching Three Single Start-->
                    
                    <!--Coaching Three Single End-->
                </div>
            </div>
        </section>

        <!--Countries-Three Start-->
        
        <!--Countries-Three End-->

        <!--Benefits One Start-->
        <section class="benefits-one">
            <div class="benefits-one__shape-1 float-bob-y">
                <img src="{% static 'web/images/shapes/benefits-one-shape-1.png'%}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="benefits-one__left">
                            <div class="benefits-one__img-box">
                                <div class="benefits-one__img-one">
                                    <img src="{% static 'web/images/resources/benefits-one-img-1.jpg'%}" alt="">
                                </div>
                                <div class="benefits-one__img-two">
                                    <img src="{% static 'web/images/resources/benefits-one-img-2.jpg'%}" alt="">
                                </div>
                                <!-- <div class="benefits-one__solution">
                                    <div class="benefits-one__solution-icon">
                                        <span class="icon-marketing"></span>
                                    </div>
                                    <h4 class="benefits-one__solution-title">Best Immigration <br>
                                        Solutions</h4>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="benefits-one__right">
                            <div class="section-title text-left">
                                <div class="section-title__tagline-box">
                                    <span class="section-title__tagline">OUR BENEFITS</span>
                                    <div class="section-title__border-box"></div>
                                </div>
                                <h2 class="section-title__title">Unlock Your Advantages with Servigens</h2>
                            </div>
                            <p class="benefits-one__text">At Servigens, we are committed to providing more than just services – we offer a suite of benefits that make us your preferred partner for all your corporate needs in the UAE. From saving you time to offering unparalleled support and earning your trust, discover how partnering with Servigens can elevate your business experience.</p>
                            <ul class="list-unstyled benefits-one__points">
                                <li>
                                    <div class="icon">
                                        <span class="icon-clock"></span>
                                    </div>
                                    <div class="content">
                                        <h4>Time Efficiency</h4>
                                        <p>Streamlining Processes for Maximum Productivity</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-consultant"></span>
                                    </div>
                                    <div class="content">
                                        <h4>Dedicated Support</h4>
                                        <p>Personalized Assistance Every Step of the Way</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-international-passport"></span>
                                    </div>
                                    <div class="content">
                                        <h4>Trustworthy Partnership</h4>
                                        <p>Building Confidence Through Transparency and Reliability</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Benefits One End-->

        <!--Coaching Three Start-->
        
        <!--Coaching Three End-->

        <!--Testimonial Three Start-->
        <section class="testimonial-three">
            <div class="testimonial-three__map float-bob-y">
                <img src="{% static 'web/images/shapes/testimonial-three-map.png'%}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <div class="testimonial-three__left">
                            <div class="testimonial-three__shape-2 img-bounce">
                                <img src="{% static 'web/images/shapes/testimonial-three-shape-2.png'%}" alt="">
                            </div>
                            <div class="testimonial-three__slider">

                                <div class="testimonial-three__thumb-outer-box">
                                    <div class="testimonial-three__thumb-carousel owl-carousel owl-theme">
                                        {% for t in testimonial %}
                                        <div class="testimonial-three__thumb-item">
                                            <div class="testimonial-three__img-holder-box">
                                                <div class="testimonial-three__img-holder">
                                                    <img src="{{t.profile_image.url}}" alt="">
                                                </div>
                                                <div class="testimonial-three__quote">
                                                    <img src="{% static 'web/images/icon/testimonial-three-quote.png'%}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                    </div>
                                </div>

                                <div class="testimonial-three__main-content">
                                    <div class="testimonial-three__carousel owl-carousel owl-theme">
                                        {% for t in testimonial %}
                                        <div class="testimonial-three__item">
                                            <div class="testimonial-three__inner-content">
                                                <div class="testimonial-three__rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p class="testimonial-three__text">{{t.description}}</p>
                                                <div class="testimonial-three__client-info">
                                                    <h4 class="testimonial-three__client-name">{{t.name}}</h4>
                                                    <p class="testimonial-three__client-sub-title">{{t.position}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                        

                                        

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="testimonial-three__right">
                            <div class="testimonial-three__shape-1">
                                <img src="{% static 'web/images/shapes/testimonial-three-shape-1.png'%}" alt="">
                            </div>
                            <ul class="list-unstyled testimonial-three__counter-box">
                                <li>
                                    <div class="testimonial-three__counter-single">
                                        <div class="testimonial-three__counter-icon">
                                            <span class="icon-life-insurance"></span>
                                        </div>
                                        <div class="testimonial-three__counter-content-box">
                                            <div class="testimonial-three__counter-count-box count-box">
                                                <h3 class="count-text" data-stop="68" data-speed="1500">00</h3>
                                                <span class="testimonial-three__counter-plus">k</span>
                                            </div>
                                            <p>We Process Visas</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-three__counter-single">
                                        <div class="testimonial-three__counter-icon">
                                            <span class="icon-success"></span>
                                        </div>
                                        <div class="testimonial-three__counter-content-box">
                                            <div class="testimonial-three__counter-count-box count-box">
                                                <h3 class="count-text" data-stop="99" data-speed="1500">00</h3>
                                                <span class="testimonial-three__counter-plus">+</span>
                                            </div>
                                            <p>Our Success Rate</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-three__counter-single">
                                        <div class="testimonial-three__counter-icon">
                                            <span class="icon-group"></span>
                                        </div>
                                        <div class="testimonial-three__counter-content-box">
                                            <div class="testimonial-three__counter-count-box count-box">
                                                <h3 class="count-text" data-stop="50" data-speed="1500">00</h3>
                                                <span class="testimonial-three__counter-plus">+</span>
                                            </div>
                                            <p>Experience Consultants</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonial Three End-->

        <!--Blog Three Start-->
        <section class="blog-three">
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-title__tagline-box">
                        <span class="section-title__tagline">NEWS & UPDATES</span>
                        <div class="section-title__border-box"></div>
                    </div>
                    <h2 class="section-title__title">Latest News & Articles
                        <br> From the Blog</h2>
                </div>
                <div class="row">
                    <!--Blog Three Single Start-->
                    {% for b in blog %}
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <div class="blog-two__single">
                            <div class="blog-two__img-box">
                                <a href="{% url "blog_detail" b.slug %}">
                                <div class="blog-two__img">
                                    <img src="{{b.thumbnail_img.url}}" alt="">
                                </div>
                            </a>
                                <div class="blog-two__date">
                                    
                                    <p>{{ b.date|date:"d" }}<br><span>{{ b.date|date:"M" }}</span></p>
                                </div>
                                <div class="blog-two__content">
                                    
                                    <h3 class="blog-two__title"><a href="{% url "blog_detail" b.slug %}">{{b.title}}</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <!--Blog Three Single End-->
                    <!--Blog Three Single Start-->
                    
                    <!--Blog Three Single End-->
                </div>
            </div>
        </section>
        <!--Blog Three End-->

        <!--Contact Three Start-->
        <section class="contact-three">
            <div class="contact-three__bg"
                style="background-image: url({% static 'web/images/backgrounds/contact-three-bg.png'%});"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="contact-three__left">
                            <div class="section-title text-left">
                                <div class="section-title__tagline-box">
                                    <span class="section-title__tagline">Contact with us</span>
                                    <div class="section-title__border-box"></div>
                                </div>
                                <h2 class="section-title__title">Contact for Visa <br>
                                    & Immigration</h2>
                            </div>
                            <div class="contact-three__main-tab-box tabs-box">
                                <div class="contact-three__tab-content-inner">
                                    <p class="contact-three__tab-content-text">There are many variations of
                                        passages the simply free text available in the market majority dolore
                                        magna.</p>
                                    <div class="contact-three__contact-details">
                                        <div class="contact-three__contact-details-img">
                                            <img src="{% static 'web/images/contact.png'%}"
                                                alt="">
                                        </div>
                                        <ul class="list-unstyled contact-three__contact-list">
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Burj Khalifa, Dubai - <br> UAE</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                                <div class="text">
                                                    <p><a
                                                            href="mailto:needhelp@company.com">needhelp@company.com</a>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-phone"></i>
                                                </div>
                                                <div class="text">
                                                    <p><a href="tel:9288009850 ">+92 (8800) - 9850</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="contact-three__right">
                            <div class="contact-three__form-box">
                                <div class="contact-three__form-top">
                                    <p>Request a Appointment</p>
                                </div>
                                <form action="https://bracketweb.com/treck-html/main-html/assets/inc/sendemail.php"
                                    class="contact-three__form contact-form-validated" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact-three__form-input-box">
                                                <input type="text" placeholder="Full Name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact-three__form-input-box">
                                                <input type="email" placeholder="Email Address" name="email">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="contact-three__form-input-box">
                                                <input type="text" placeholder="Phone" name="phone">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="contact-three__form-input-box">
                                                <select class="selectpicker" aria-label="Default select example">
                                                    <option selected>Visa Type</option>
                                                    <option value="1">Tourist Visa</option>
                                                    <option value="2">Business Visa</option>
                                                    <option value="3">Student Visa</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="contact-three__form-input-box text-message-box">
                                                <textarea name="message" placeholder="Write a Message"></textarea>
                                            </div>
                                            <div class="contact-three__form-btn-box">
                                                <button type="submit" class="thm-btn contact-three__form-btn">Send a
                                                    Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Three End-->

        <!--Brand Two Start-->
        <section class="brand-two">
            <div class="container">
                <h4 class="brand-two__title"> Our partners & suppoters</h4>
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 6
                    }
                }}'>
                    <div class="swiper-wrapper">
                        {% for l in logos %}
                        <div class="swiper-slide">
                            <img src="{{l.logo.url}}" alt="">
                        </div><!-- /.swiper-slide -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>





{% endblock %}