{% load static %}
<footer class="site-footer">
    <div class="container">
        <div class="site-footer__top">
            <div class="site-footer__map float-bob-x">
                <img src="{% static 'web/images/shapes/site-footer-map-1.png'%}" alt="">
            </div>
            
           
        </div>
        <div class="site-footer__middle">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp footer_contents" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <a href="/"><img src="{% static 'web/images/logo.png'%}" alt=""></a>
                        </div>
                        <p class="footer-widget__about-text">Aliqua id fugiat nostrud irure ex duis ea quis id
                            quis ad et. Sunt qui esse pariatur duis deserunt.</p>
                        <div class="site-footer__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 wow fadeInUp footer_contents" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__link">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Explore</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="about.html">About</a></li>
                            <li><a href="team.html">Meet Experts</a></li>
                            <li><a href="blog.html">News & Media</a></li>
                            <li><a href="visa-details.html">Projects</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 wow fadeInUp footer_contents" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__link">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Services</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="about.html">About</a></li>
                            <li><a href="team.html">Meet Experts</a></li>
                            <li><a href="blog.html">News & Media</a></li>
                            <li><a href="visa-details.html">Projects</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 wow fadeInUp footer_contents" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__Contact">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Social Media</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="#">instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">pinterest</a></li>
                            <li><a href="#">facebook</a></li>
                            
                        </ul>
                    </div>
                </div>
                
                
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp footer_contents" data-wow-delay="500ms">
                    <div class="footer-widget__column footer-widget__Contact">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Contact</h3>
                        </div>
                        <ul class="footer-widget__Contact-list list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="fas fa-envelope"></span>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fas fa-map-marker-alt"></span>
                                </div>
                                <div class="text">
                                    <p>Burj Khalifa, Dubai - <br> UAE</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fas fa-clock"></span>
                                </div>
                                <div class="text">
                                    <p>Mon – Sat: 8:00 am to 6:00 pm <br> Sunday: Closed</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© Copyright 2023 by <a href="#">gedexo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>