{% load static %}
<header class="main-header-three">
    <nav class="main-menu main-menu-three">
        <div class="main-menu-three__wrapper">
            <div class="main-menu-three__wrapper-inner">
                <div class="main-menu-three__logo">
                    <a href="index.html"><img src="{% static 'web/images/resources/logo-1.png'%}" alt=""></a>
                </div>
                <div class="main-menu-three__top">
                    <div class="main-menu-three__top-inner">
                        <div class="main-menu-three__top-left">
                            <ul class="list-unstyled main-menu-three__contact-list">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <div class="text">
                                        <p>30 Broklyn Golden Street. USA</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:Info@company.com">Info@company.com</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <div class="text">
                                        <p>Mon - Fri 8.00 am - 6.00 pm</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-menu-three__top-right">
                            <div class="main-menu-three__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="main-menu-three__bottom">
                    <div class="main-menu-three__bottom-inner">
                        <div class="main-menu-three__main-menu-box">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                            <ul class="main-menu__list">
                                <li class="dropdown current megamenu">
                                    <a href="index.html">Home </a>
                                    <ul>
                                        
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Company</a>
                                    
                                </li>
                                <li class="dropdown">
                                    <a href="#">Corporate Services</a>
                                    
                                    <ul class="sub-menu">
                                        <li><a href="products.html">Products</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                    
                                    
                                </li>
                                <li class="dropdown">
                                    <a href="#">Services</a>
                                    <ul class="sub-menu">
                                        {% for s in service %}
                                        <li><a href="{% url "service_detail" s.slug %}">{{s.title}}</a></li>
                                        {% endfor %}
                                        
                                    </ul>
                                </li>
                                
                                
                                <li class="dropdown">
                                    <a href="#">Blog</a>
                                    
                                </li>
                                
                                <li>
                                    <a href="{% url "contact" %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-menu-three__right">
                            
                            
                            <div class="main-menu-three__btn">
                                <a href="contact.html">Book Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>





